[submodule "backend"]
	path = backend
	url = https://github.com/zcloudpass/zcloudpass-backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/zcloudpass/zcloudpass-app
[submodule "extension"]
	path = extension
	url = https://github.com/zcloudpass/zcloudpass-extension
